body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

label {
    display: block;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.tag-button {
    background-color: #ddd;
    border: none;
    color: #333;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

.tag-button.selected {
    background-color: #007bff; /* Change to your preferred selected color */
    color: #fff;
}

