body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

label {
    display: block;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

/* Add more styles as needed */
